body {
    background-color: #dcb387;
}

h1 {
    text-align: center;
}

.blogContainer {
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2%;
}

.blog {
    border: 2px solid black;
    width: 200px;
    background-color: #ef5d58;
    gap: 30px;
    height: 350px;
    padding: 10px;
    box-shadow: 1px 1px 10px 1px black;
}

.form{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(209, 209, 209);
}

