body {
    background-color: #dcb387;
}

h1 {
    text-align: center;
}

#blogContainer {
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2%;
}

.blog {
    border: 2px solid black;
    width: 200px;
    background-color: #ef5d58;
    gap: 30px;
    height: 500px;
}

#addBlogForm {
    margin-top: 30px;
}
