*{
    border: 1px solid black;
    padding: 3%;
}

.main{
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 248, 255);
}

.cyan{
    background-color: cyan  ;
}

.blue{
    display: flex;
}

.green{
    flex: 1;
    height: 200px;
    background-color: greenyellow;
}

.orange{
    flex: 3;
    background-color: orange;
}

.article{
    display: flex;
}